.base {
  border-radius: var(--standup-border-radius);
  border: var(--standup-border);
  background-color: var(--standup-inside-background);
  box-shadow: var(--standup-box-shadow);
  user-select: none;
}

/* Header */
.header {
  display: grid;
  justify-self: stretch;
  align-items: center;
  padding: 16px;
  border-block-end: var(--standup-header-bar);
}

.header h2 {
  margin: 0;
  grid-column: 1;
  grid-row: 1;
  justify-self: center;
}

.header ui-icon-button {
  grid-column: 1;
  grid-row: 1;
  justify-self: end;
}

/* Body */
.body {
  display: grid;
  grid-template-columns: auto auto;
  justify-items: center;
  gap: 16px;
  padding: 2rem;
}

.row {
  grid-column: 1 / span 2;
  display: grid;
  grid-template-columns: subgrid;
  align-items: center;
}

.timer-type-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: stretch;
  gap: 8px;
}

.switch-group {
  grid-column: 1 / span 2;
  display: grid;
  grid-template-columns: subgrid;
  row-gap: 8px;  
}

.fixed-group {
  grid-column: 1 / span 2;
  display: grid;
  grid-template-columns: subgrid;
  row-gap: 8px;
}

.fixed-group .add-time {
  justify-self: start;
}

.time-block {
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  gap: 8px;
  align-items: center;
}

.base[switch] .fixed-group {
  display: none;
}

.base[fixed] .switch-group {
  display: none;
}

.base[switch] #timer-fixed > ui-icon-check {
  display: none;
}

.base[fixed] #timer-switch > ui-icon-check {
  display: none;
}

.base[fixed] .start-standing-row {
  display: none;
}

/* Phone */
@media (max-width: 40rem) {
  .base {
    padding: 1rem;
    border-radius: 0;
    border: none;
    box-shadow: none;
  }

  .use-system-notifications-row {
    display: none;
  }
}