.base {
  position: fixed;
  inset: 0;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  overflow-y: auto;
}

.views {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

stand-up-welcome {
  justify-self: center;
  width: 80vw;
  max-width: 800px;
  min-width: 400px;
  align-self: center;
}

stand-up-view {
  justify-self: center;
  width: 80vw;
  max-width: 800px;
  min-width: 400px;
  align-self: center;
}

stand-up-settings {
  justify-self: center;
  max-width: 800px;
  min-width: 400px;
  align-self: center;
}

stand-up-welcome, stand-up-view, stand-up-settings {
  display: none;
}

stand-up-welcome[active] {
  display: block;
}

stand-up-view[active] {
  display: block;
}

stand-up-settings[active] {
  display: block;
}

.extra {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  display: grid;
  grid-template-columns: auto auto;
  gap: 8px;  
}

